<%- include("partials/header") %>
<%- include("partials/navbar") %>
<%- include("partials/flash") %>

<form method="get" action="">
  <label for="search">Search:</label>
  <input type="text" id="q" name="q" value="">
  <button type="submit">Search</button>
  <label for="sortField">Sort by:</label>
  <select id="sortField" name="sortField">
    <option value="id" selected>Id</option>
    <option value="nickname">Nickname</option>
    <option value="description">Description</option>
    <option value="species_id">Species_id</option>
    <option value="island">Island</option>
    <option value="gender">Gender</option>
    <option value="weight">Weight</option>
    <option value="height">Height</option>
    <option value="year">Year</option>
    <option value="image">Image</option>
    <option value="assigned_to">Assigned_to</option>
  </select>
  <label for="sortDirection">Sort direction:</label>
  <select id="sortDirection" name="sortDirection">
    <option value="asc" selected>Ascending</option>
    <option value="desc">Descending</option>
  </select>
  <button type="submit">Sort</button>
</form>

<table>
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Nickname</th>
      <th>Description</th>
      <th>Species</th>
      <th>Island</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Year</th>
      <th>Age</th>
      <th>Assigned To</th>
    </tr>
  </thead>
  <tbody>

    <% for(let pengu of penguins) { %>
    <tr>
      <td><img src="<%= pengu.image %>" width="100"></td>
      <td><%= pengu.id %></td>
      <td><%= pengu.nickname %></td>
      <td><%= pengu.description %></td>
      <td><a href="/species/1"><%= pengu.species.name %></a></td>
      <td><%= pengu.island %></td>
      <td><%= pengu.gender %></td>
      <td><%= pengu.weight %></td>
      <td><%= pengu.height %></td>
      <td><%= pengu.year %></td>
      <td><%= calculatePenguinAge(pengu.year) %></td>
      <td><% if (pengu.assign_to) { %>
        <%= pengu.assigned_to %>
        <% } else { %>
          <form method="post" action="/penguins/3/assign">
          <button type="submit">Assign to me</button>
          </form>
        <% } %>

      </td>

    </tr>
    <% } %>
  </tbody>
</table>

<%- include("partials/footer") %>